{{ range $idx, $ep := .setup.endpoints }}{{ if $idx }},{{ end }}
{{   range $idx2, $method := $ep.methods }}{{ if $idx2 }},{{ end }}
      {
         "endpoint":"/api/setup/{{ $ep.endpoint }}",
         "output_encoding":"no-op",
         "method":"{{ $method }}",
         "headers_to_pass":[
            "*"
         ],
         "querystring_params":[
             "*"
         ],
         "backend":[
            {
               "url_pattern":"/api/{{ $ep.endpoint }}",
               "encoding":"no-op",
               "host":[
	          {{ env "BACKEND_SETUP" | default (expandenv $.setup.backend) | quote }}
               ],
               "extra_config":{ {{ include "setup_extra.json" }}
               }
            }
         ]
      }
{{   end }}
{{ end }}
